body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica";
	font-size: 16px;
	line-height: 1.3em;
	
	overflow-x: hidden;
	
	width: 100%;
	height: 100%;
}

.background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url("http://slope.vong.io/assets/home-1-8ff62151862cf038ec7267477321efb9.jpg");
	background-size: cover;
}

.title {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	
	text-align: center;
	z-index: 9;
	background: rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid #CCC;
}

.slides {
	position: relative;
	top: 60px;
	width: 100%;
	bottom: 30px;
}

.slides li {
	position: absolute;
	height: 200px;
	width: 300px;
	background: #FFF;
	padding: 40px;
	list-style: none;
	margin-bottom: 30px
}